
Intellij_Folder/.idea/.name
Intellij_Folder/.idea/misc.xml
Intellij_Folder/.idea/modules.xml
Intellij_Folder/Intellij_Folder.iml
Intellij_Folder/.idea/workspace.xml
Intellij_Folder/.idea/workspace.xml
